{{ form_start(form, {'attr': {'id': 'guichet-wrap'}}) }}
    {{ form_errors(form) }}
    <div id="guichet-date">
        {{ form_widget(form.eventDate) }}
        <div data-toggle="datepicker-container"></div>
    </div>
    <div id="guichet-user">
        {{ form_row(form.email) }}
    </div>
    <div id="guichet-tickets" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e('html_attr') }}"></div>
    {{ form_rest(form) }}
{{ form_end(form) }}
<div class="text-right">
    <button type="submit" form="guichet-wrap" value="submit" class="primary-btn">Valider mon choix</button>
</div>
