<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block pageTitle %}Musée du Louvre{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,800,800i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/main.css') }}">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script src="https://use.fontawesome.com/48ef1a8cd3.js"></script>
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <header id="header-wrap">
        <div id="header" class="boxed">
            <a href="{{path('qs_booking_home')}}" class="logo">
                <img src="{{ asset('assets/images/logo-louvre.jpg') }}" alt="Logo du Musée du Louvre" height="100%">
            </a>
            <nav>
                <a href="#">Informations pratiques</a>
            </nav>
        </div>
    </header>

    <section id="main-wrap">
        <div id="main" class="boxed">
            {% block mainContent %}{% endblock %}
        </div>
    </section>

    <footer id="footer-wrap">
        <div id="footer-top-wrap">
            <div id="footer-top" class="boxed">
                <div class="follow-us">Rejoignez-nous et recevez toute l'actualité du Musée du Louvre</div>
                <div class="social-links">
                    <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook-official"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://snapchat.com" target="_blank"><i class="fa fa-snapchat-ghost"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-rss"></i></a>
                </div>
            </div>
        </div>
        <div id="footer-main-wrap">
            <div id="footer-main" class="boxed">
                <a href="{{path('qs_booking_home')}}" class="logo">
                    <img src="{{ asset('assets/images/logo-louvre.jpg') }}" alt="Logo du Musée du Louvre" height="100%">
                </a>
                <nav>
                    <a href="{{path('qs_booking_cgv') }}">CGV</a>
                    <a href="{{path('qs_booking_cgu') }}">CGU</a>
                    <a href="{{path('qs_booking_legal') }}">Mentions légales</a>
                </nav>
                <div class="payment-icons">
                    <i class="fa fa-cc-paypal"></i>
                    <i class="fa fa-cc-stripe"></i>
                    <i class="fa fa-cc-visa"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-lock"></i>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
