{% extends 'QSBookingBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ include('QSBookingBundle:Booking:breadcrumb.html.twig', {route: 'qs_booking_checkout'}) }}
{% endblock %}
{% block qsbookingTitle %}{{ event.name }}{% endblock %}
{% block qsbookingContent %}
    <h3 class="text-center meta-color">Vos coordonnées de paiement</h3>
    <form method="POST" id="checkout-wrap">
        {% for reservation in reservations %}
            <div class="reservation">
                <h4><span class="primary-color font-900">Réservation {{ loop.index }} - </span><span class="primary-color">Billet {{ reservation.ticketPrice.ticket.name }}</span></h4>
                <div class="information-reservation">
                    <p>Au nom de {{ reservation.visitor.firstName }} {{ reservation.visitor.lastName }} et au tarif {{ reservation.ticketPrice.price.name }} de {{ reservation.ticketPrice.price.eur }} €</p>
                </div>
            </div>
        {% endfor %}
    </form>
    <div class="text-right">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_fdVRc4edwV2ceJjan6KzQFQT"
            data-amount="{{ orderPrice * 100 }}"
            data-name="Musée du Louvre"
            data-description="{{ event.name }}"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-currency="eur">
        </script>
        <button type="submit" form="checkout-wrap" value="submit" class="primary-btn">Valider mon choix</button>
    </div>
{% endblock %}
