{% extends 'QSBookingBundle::layout.html.twig' %}

{% block qsbookingTitle %}{{ parent() }}{% endblock %}
{% block qsbookingContent %}
    <div id="event-wrap">
    {% for event in events %}
        <div class="event">
            <h2>{{ event.name }}</h2>
            <p>{{ event.description }}</p>
            <a href="{{ path('qs_booking_guichet', {'slug': event.slug}) }}" alt="Commander vos billets pour {{ event.name }}">Commander vos billets</a>
        </div>
    {% else %}
        <p>La billetterie ne contient aucun évènement.</p>
    {% endfor %}
    </div>
{% endblock %}
